<%= render "shared/header" %>

<div class='main'>
  <div class='new_main'>
    <div class='new_purpose'>
      <div class='new_purpose_messe'>継続目標を決めてください。</div>
      <%=form_with model: @purpose, local: true, class:"new_purpose_form" do |f|%>
        <div class="new-purpose_name">
          <%= f.text_field :name, class: 'new-purpose_field', placeholder: '継続目標を入力してください'%>
        </div>
        <div class="new-purpose_unit">
          <%= f.text_field :unit, class: 'new-purpose_field', placeholder: 'ブロック一つの値を決めてください。'%>
        </div>
        <div class="new-purpose_submit">
          <%= f.submit class: 'new-purpose_botten'%>
        </div>
      <% end %>
    </div>
  </div>

</div>